/********** FONTS **********/
/* to use responsive font use the following within any element that supports font size 

@include responsive-font(vw, MINpx, MAXpx, FALLBACKpx)

*/
@font-face {
  font-family: Roboto Thin;
  src: url("../fonts/Roboto-Thin.ttf"); }
.roboto-thin {
  font-family: Roboto Thin, sans-serif; }

.fine-print {
  font-size: 50%; }

/********** COLORS **********/
.white {
  color: #fff; }

.gray {
  color: #ebebeb; }

.green {
  color: #009933 !important; }

.ebd-blue {
  color: #003366; }

.ebd-maroon {
  color: #990033; }

/********** PRESETS **********/
html, body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 320px;
  background-color: #ebebeb; }

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
  max-width: 1200px;
  min-width: 320px; }

/********** HEADER **********/
#respectful-persistence {
  display: none;
  background-color: #ebebeb;
  padding: 10px 0; }
  #respectful-persistence #rp-head {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    font-size: 1.5vw; }
    @media (max-width: 1000px) {
      #respectful-persistence #rp-head {
        font-size: 15px; } }
    @media (min-width: 1666.66667px) {
      #respectful-persistence #rp-head {
        font-size: 25px; } }
    #respectful-persistence #rp-head:hover {
      text-shadow: 1px 1px 2px #ebebeb; }
  #respectful-persistence #rp-content {
    display: none;
    padding: 25px 0; }
    #respectful-persistence #rp-content .highlighter {
      color: #004d99; }
    #respectful-persistence #rp-content #rp-close {
      display: block;
      cursor: pointer;
      color: initial;
      font-size: 20px;
      height: 45px;
      width: 45px;
      padding: 25px;
      text-align: center;
      position: absolute;
      right: 15px;
      bottom: 0; }
      #respectful-persistence #rp-content #rp-close:hover {
        text-decoration: none;
        text-shadow: 0 0 2px #ccc; }

header {
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 2px -2px #ddd;
  margin-bottom: 25px; }
  header #logo-link {
    display: block;
    height: 100%; }
    header #logo-link #logo {
      position: absolute;
      top: 0;
      left: 15px;
      height: 50px;
      width: auto; }
  header .wrap {
    min-height: 50px; }
  header #xs-nav-anchor {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 22px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px; }
  header #nav {
    display: none;
    margin-top: 60px;
    padding-left: 55px; }
    header #nav li {
      padding: 10px 0; }
      header #nav li a:hover, header #nav li a:active {
        text-decoration: none;
        color: #990033; }
      header #nav li a.current {
        color: #990033;
        font-weight: bold; }

#xs-page-ref {
  z-index: 50;
  background-color: #fff;
  padding: 10px 0;
  color: #990033;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 2px -2px #ddd; }

/********** page:HOME **********/
.headline {
  font-size: 45px;
  font-size: 3.33vw; }
  @media (max-width: 750.75075px) {
    .headline {
      font-size: 25px; } }
  @media (min-width: 1951.95195px) {
    .headline {
      font-size: 65px; } }

.subline {
  font-size: 4.5vw; }

/***** typed.js cursor ***** not in use

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

*****/
#home-hero-banner {
  position: relative;
  display: table;
  width: 100%;
  height: 400px;
  background-image: url("/assets/img/apptsetting-lg.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1; }
  #home-hero-banner .blue-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 51, 102, 0.5);
    z-index: 2; }
  #home-hero-banner .wrap {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    z-index: 5; }
    #home-hero-banner .wrap #home-hero-inner {
      position: relative;
      z-index: 5; }

#home-metrics-banner {
  display: none;
  padding: 50px 0 25px; }
  #home-metrics-banner .metric {
    position: relative;
    margin-bottom: 30px;
    text-align: right;
    line-height: 1;
    z-index: 10;
    font-size: 44px;
    font-size: 6vw; }
    @media (max-width: 500px) {
      #home-metrics-banner .metric {
        font-size: 30px; } }
    @media (min-width: 1100px) {
      #home-metrics-banner .metric {
        font-size: 66px; } }
    #home-metrics-banner .metric .metric-icon {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      z-index: -1; }
    #home-metrics-banner .metric .stat {
      color: #003366; }
    #home-metrics-banner .metric .stat-desc {
      font-size: 16px;
      font-size: 2vw; }
      @media (max-width: 600px) {
        #home-metrics-banner .metric .stat-desc {
          font-size: 12px; } }
      @media (min-width: 1000px) {
        #home-metrics-banner .metric .stat-desc {
          font-size: 20px; } }

.home-cta-button {
  display: block;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  border-radius: 15px;
  text-decoration: none; }
  .home-cta-button:hover {
    text-decoration: none;
    border-width: 5px !important;
    padding: 13px 0; }

#home-articles-banner {
  position: relative;
  height: 0;
  height: 400px;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  #home-articles-banner .wrap {
    display: table;
    height: 400px; }
    #home-articles-banner .wrap #home-articles-inner {
      display: table-cell;
      vertical-align: middle; }
      #home-articles-banner .wrap #home-articles-inner .articles-headline {
        font-size: 4vw; }
      #home-articles-banner .wrap #home-articles-inner #articles-cta-button {
        border: 3px solid #003366;
        color: #003366; }

#home-clients-banner {
  min-height: 500px; }

/********** page:COMPANY **********/
.headshot {
  height: 200px; }

#ted {
  display: none; }

#matt {
  display: none; }

#dolores {
  display: none; }

#cyndi {
  display: none; }

#judy {
  display: none; }

#michael {
  display: none; }

#colin {
  display: none; }

#nick {
  display: none; }

.outer-employee-box {
  margin: 5px 0px 5px 0px; }
  .outer-employee-box .employee-box {
    background-color: white;
    padding: 5px 0px 5px 0px; }

.bio-box {
  background-color: white !important;
  border-top-style: solid;
  border-top-color: #d3d3d3;
  border-top-width: 1px;
  padding: 5px 5px 5px 5px; }

/********** page:SERVICES **********/
/********** page:CLIENTS **********/
/********** page:RESULTS **********/
.results-header {
  font-size: 30px;
  font-size: 2vw; }
  @media (max-width: 1000px) {
    .results-header {
      font-size: 20px; } }
  @media (min-width: 2000px) {
    .results-header {
      font-size: 40px; } }

.result {
  margin: 50px 0; }
  .result .result-logo {
    width: 225px;
    height: auto;
    margin-bottom: 20px; }

.result-hr {
  border-top: 1px solid #ccc !important; }
  .result-hr:last-child {
    display: none; }

/********** page:ARTICLES **********/
.title-text {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 16px; }

.article {
  background-color: white;
  display: block;
  color: initial;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 1px;
  box-shadow: 5px 5px 7px #d3d3d3; }

.article-icon {
  display: block;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: #d3d3d3;
  border-bottom-width: 1px; }
  .article-icon:last-child {
    border-bottom-style: none; }
  .article-icon .logo-center {
    margin: auto;
    display: block;
    height: 55px; }

/********** page:CONTACT **********/
#contact-icon-banner {
  margin-top: 15px;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc; }
  #contact-icon-banner .email {
    font-size: 9px; }
  #contact-icon-banner .icon-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px; }

#contact-container {
  margin-bottom: 40px; }
  #contact-container .contact-box {
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 300px; }
    #contact-container .contact-box:last-child {
      border-bottom-style: none; }
    #contact-container .contact-box .department-side {
      color: #990033;
      font-family: Roboto Thin, sans-serif;
      font-weight: 900;
      font-size: 20px;
      text-align: left;
      padding-left: 0 !important; }
    #contact-container .contact-box .contact-name {
      font-size: 16px;
      font-weight: 500;
      color: #2a64ae; }
    #contact-container .contact-box .contact-email {
      white-space: nowrap; }
    #contact-container .contact-box .contact-phone {
      white-space: nowrap; }
    #contact-container .contact-box .small-icon {
      width: 20px;
      margin-right: 3px; }
    #contact-container .contact-box .contact-second {
      margin-top: 15px; }

#general-inq {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-width: 1px;
  width: 50%;
  margin: 30px auto 30px auto; }
  #general-inq #gen-inq-button {
    padding: 10px 16px 10px 16px;
    font-size: 18px;
    display: block;
    background-color: #428bca;
    color: white;
    border-radius: 15px;
    border-style: none; }
    #general-inq #gen-inq-button #gen-inq-button:hover {
      display: block;
      background-color: #357ebd;
      color: white;
      border-radius: 15px;
      border-bottom-style: none;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24), 0 5px 10px 0 rgba(0, 0, 0, 0.19); }

.map-info {
  color: #990033;
  font-family: Roboto Thin, sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  background-color: #fff;
  padding: 20px 0 75px; }
  .map-info #address-info {
    font-size: 15px;
    color: black; }
  .map-info #map-center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    min-height: 350px; }
    .map-info #map-center iframe {
      pointer-events: none;
      position: relative;
      /* IE needs a position other than static */ }
      .map-info #map-center iframe.clicked {
        pointer-events: auto; }

/********** page:JOBS **********/
.ebd-info {
  min-width: 350px;
  padding-left: 12px;
  margin-bottom: 50px; }
  .ebd-info .jobs-info {
    margin-top: 25px; }

.apply-box {
  background-color: white;
  margin-bottom: 10px;
  min-width: 350px; }
  .apply-box .apply-container {
    Margin: 0 10px 15px 10px;
    min-width: 350px; }
    .apply-box .apply-container .apply-info {
      text-align: center; }
    .apply-box .apply-container .apply-right {
      text-align: center; }
  .apply-box #read-more {
    background-color: white;
    border-top-style: solid;
    border-top-color: #d3d3d3;
    border-top-width: 1px;
    display: none; }
    .apply-box #read-more .exit {
      float: right;
      position: relative;
      margin-bottom: 10px;
      color: #d3d3d3; }
    .apply-box #read-more p {
      padding-left: 5px; }

.details {
  margin-bottom: 25px; }

#application-form {
  height: 1280px; }
  #application-form iframe {
    height: 100% !important; }

#disclaimer {
  background-color: white;
  border-radius: 5px;
  padding: 12px 5px 5px 5px; }

/********** page:PRIVACY - TERMS **********/
.legal p {
  text-align: justify; }
.legal .effective-date, .legal .last-update {
  font-size: 21px;
  font-size: 2vw; }
  @media (max-width: 700px) {
    .legal .effective-date, .legal .last-update {
      font-size: 14px; } }
  @media (min-width: 1400px) {
    .legal .effective-date, .legal .last-update {
      font-size: 28px; } }

#legal-footer {
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 25px 0;
  text-align: center; }

/********** FOOTER **********/
footer {
  padding-top: 25px;
  margin-top: 75px;
  border-top: 1px solid #001a33;
  background-color: #990033;
  color: #fff !important; }
  footer li a.current {
    font-weight: bold;
    text-decoration: underline; }
  footer li #footer-phone {
    font-size: 25px; }
  footer #footer-nav li {
    line-height: 25px; }
  footer #toTop {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 25px;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px; }
  footer #sub-footer {
    position: relative;
    margin-top: 25px;
    padding: 5px 0;
    background-color: #80002b; }
  footer a {
    color: #fff !important; }
    footer a:hover {
      color: #fff !important;
      text-decoration: none;
      font-weight: bold; }

@media screen and (min-width: 768px) {
  header #logo-link #logo {
    top: 10px; }
  header #xs-nav-anchor {
    display: none; }
  header #nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 !important; }
    header #nav li {
      line-height: 50px;
      padding: 10px 15px;
      text-align: center;
      font-size: 15px; }
      header #nav li:last-child {
        padding-right: 0 !important; }

  #xs-page-ref {
    display: none; }

  #home-hero-banner {
    height: 425px; }

  #home-metrics-banner .metric .metric-icon {
    height: 75%; }

  #respectful-persistence #rp-content #rp-close {
    right: 25px; }

  footer #footer-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 !important; }
    footer #footer-nav li {
      padding: 0 15px;
      text-align: center;
      font-size: 15px; }
      footer #footer-nav li:last-child {
        padding-right: 0 !important; }
  footer #toTop {
    right: 40px; }
  footer #sub-footer div:first-child {
    text-align: left; }
  footer #sub-footer div:last-child {
    text-align: right; }

  /********** page:ARTICLES **********/
  .title-text {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-style: none;
    padding-left: 0px !important;
    padding-right: 0px !important; }

  .article-icon {
    display: block;
    margin: auto;
    padding-left: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom-style: none; }
    .article-icon .logo-center {
      margin: auto;
      display: block;
      height: 42px; }

  .article {
    background-color: white;
    display: flex;
    align-items: center !important;
    color: initial;
    width: 90%;
    margin: auto;
    font-size: 15px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 90px;
    box-shadow: none;
    border-style: none;
    border-color: none;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3;
    border-bottom-width: 1px; }
    .article:last-child {
      border-bottom-style: none; }

  #inner-article-container {
    width: 80%;
    margin: auto; }

  #article-container {
    width: 90%;
    padding: 100px 0 125px 0;
    background-image: url(/assets/img/article-background.png);
    background-size: 100% 100%;
    margin: 0 auto; }

  /********** page:CONTACT **********/
  #contact-icon-banner {
    margin-top: 15px;
    margin-bottom: 25px;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc; }
    #contact-icon-banner .email {
      font-size: 15px; }
    #contact-icon-banner .icon-text {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      margin: 0px; }

  #contact-container {
    margin-bottom: 40px; }
    #contact-container .contact-box {
      border-bottom: 1px solid #ccc;
      padding-top: 25px;
      padding-bottom: 25px;
      min-width: 300px; }
      #contact-container .contact-box:last-child {
        border-bottom-style: none; }
      #contact-container .contact-box .department-side {
        color: #990033;
        font-family: Roboto Thin, sans-serif;
        font-weight: 900;
        font-size: 20px;
        text-align: left;
        padding-left: 0 !important; }
      #contact-container .contact-box Contact-info div {
        line-height: 28px; }
      #contact-container .contact-box .contact-name {
        font-size: 16px;
        font-weight: 500;
        color: #2a64ae; }
      #contact-container .contact-box .contact-email {
        white-space: nowrap; }
      #contact-container .contact-box .contact-phone {
        white-space: nowrap;
        text-align: right; }
      #contact-container .contact-box .small-icon {
        width: 20px;
        margin-right: 3px; }
      #contact-container .contact-box .contact-second {
        margin-top: 15px; }

  .map-info {
    color: #990033;
    font-family: Roboto Thin, sans-serif;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    background-color: #fff;
    padding: 20px 0 75px; }
    .map-info #address-info {
      font-size: 15px;
      color: black; }
    .map-info #map-center {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      min-height: 350px; }

  /******* JOBS *******/
  .apply-box {
    background-color: white;
    margin: 10px 10px 10px 10px;
    min-width: 330px; }
    .apply-box .apply-container {
      Margin: 15px 10px 15px 10px; }
      .apply-box .apply-container .apply-info {
        text-align: left;
        margin-top: 15px; }
      .apply-box .apply-container .btn {
        margin-top: 20px;
        text-align: center; }
    .apply-box #read-more {
      background-color: white;
      border-top-style: solid;
      border-top-color: #d3d3d3;
      border-top-width: 1px;
      display: none; } }
@media screen and (min-width: 992px) {
  .wrap {
    padding: 0 40px; }

  header #logo-link #logo {
    left: 35px; }

  #home-hero-banner {
    height: 500px; }

  #home-metrics-banner .metric {
    text-align: center; }
    #home-metrics-banner .metric .metric-icon {
      height: 60%;
      top: 60%;
      left: 40%; }

  #respectful-persistence #rp-content #rp-close {
    right: 50px; }

  footer #toTop {
    right: 55px; } }
@media screen and (min-width: 1024px) {
  .wrap {
    padding: 0 50px; }

  header #logo-link #logo {
    left: 45px; }
  header #nav li {
    font-size: 20px;
    padding: 10px 20px; }
    header #nav li:last-child {
      padding-right: 5px !important; }

  #home-deliverables-banner .home-deliverable img {
    width: 150px; }

  footer #toTop {
    right: 65px; } }
@media print {
  header, footer {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
